page-detail-trajet {
    .msg{
        color:#488aff;
        background-color: transparent;
        font-size: 200%;
        margin-left: 88.5%;
    }
    b{
       font-size: 75%;
      margin-left:0%;
  
    }
}
