page-AjouterTrajeter {
    .visiblity{
           visibility: hidden;
    }
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
     
    }
    .pos{
        position:relative;
    }
}
